{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.name}}
    {{station.latitude}}
    {{station.longitude}}
  </h2>
    <h4>

    Code: {{stationSummary.latestWeatherIcon}};
    Temperature: {{stationSummary.latestTempC}}C {{stationSummary.latestTempF}}F;
    Wind Speed: {{stationSummary.latestWindSpeedBeaufort}}bft;
    Feels Like: {{stationSummary.latestWindChill}} C;
    Direction: {{stationSummary.latestWindCompass}};
    Pressure: {{stationSummary.latestPressure}}hpa;

    </h4>
  {{> listreadings}}
  {{> addreading}}
</section>