{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.name}}
    {{station.latitude}}
    {{station.longitude}}

  </h2>
  {{> latestreading}}
  {{> listreadings}}
  {{> addreading}}
  {{> addreport}}
</section>
<div class="ui segment" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each reading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each reading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
  })
</script>